{% extends "base.html" %}

{% block style %}
#steps { font-size: 1.5em; margin-bottom: 1em; font-weight:bold;}
#step2, #step3 { color: lightgray; }
{% endblock %}

{% block content %}

<div id="steps">
	<span>Password Reset - </span>
	<span id="step1">Step 1...</span>
	<span id="step2">Step 2...</span>
	<span id="step3">Step 3...</span>
</div>

Please enter your email address and we'll send you instructions on making a new password.

<form class="form-signin" role="form" action="" method="post">
	<input name="email" type="email" class="form-control" placeholder="Email address" required autofocus>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
	{% csrf_token %}
</form>

{% endblock %}