{% extends "base.html" %}

{% block extrajs %}
	<script>
	$("#projects-tab").addClass('active');
	</script>
{% endblock %}

{% block content %}

<h2>Projects</h2>

{% if page_message %}
	<div class="error">{{ page_message }}</div>
{% endif %}

<table class="table table-hover">
	<tr>
		<th>Created</th>
		<th>Name</th>
		<th>Users</th>
		<th>Files</th>
	</tr>
<tbody>
{% for project in projects %}
	<tr>
		<td>{{ project.createdTS }}</td>
		<td><a href="{% url 'project_view' project.slug %}">{{ project.name }}</a></td>
		<td>{{ project_users | length }}</td>
		<td>{{ files | length }}</td>
	</tr>
{% endfor %}
</tbody>
</table>

{% if request.user.is_staff %}
	<form role="form" method="POST" action="{% url 'kfiles.views.projects' %}">
		<h2>Add Project</h2>
		<input name="project_name" type="email" class="form-control" placeholder="Project Name" required autofocus>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Create New Project</button>
		{% csrf_token %}
	</form>
{% endif %}

{% endblock %}
